* {margin:0; padding:0;}


::-webkit-scrollbar{width:0;height:0;}
li {list-style:none;}
a {text-decoration:none;}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

h1, h2, h3, li, a, p, dt, dd{font-family:'Noto Sans KR',"돋움", Dotum, "굴림", Gulim, sans-serif;color:black;}

#warp{
    min-width:720px;
    max-width:1920px;
}
header{
    height:70px;
    position:sticky;top:0;
    background-color:rgba(255, 255, 255, 0.116);
    z-index:2;
}
nav li, header img{
    opacity:0;
    animation-name: opacity_header;
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;
}

@keyframes opacity_header{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

header img{width:21px;margin:0;display:block;}
header h1{float:left;margin:25px 0 0 110px;}

nav:after{
    content:"";
    display:table;
    clear:both;
}
nav li a{
    font-size:12px;font-weight:100;color:#A8A8A8;
    transition-property:color text-decoration;
    transition-duration:0.5s;
}
nav li a:hover{font-weight:500;color:#0F78F4;text-decoration:underline;}
nav li {float:left;margin: 0 110px 0px 0px;}
nav li:last-child {margin:0;}
nav ul {float:right;margin:20px 110px 0 0;}
nav li:last-child:after{
    content:"";
    display:table;
    clear:both;
}


#state {
    height:80px;
    position:fixed;
    left:55px;top:270px;border-left:1px solid #CCCCCC;

    opacity:0;
    animation-name: move_top;
    animation-duration:2s;
    animation-direction:alternate;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;
}

@keyframes move_top{
    0%{
        top:700px;
        opacity:0;
    }
    100%{
        top:270px;
        opacity:1;
    }
}
#left_title{
    position:absolute;top:-25px;left:-15px;
    font-size:12px;font-weight:700;color:#0F78F4;
    text-align:center;
}
main #content {
    width:1316px;height:652px;margin:0 auto;
    position:relative;
    background: url("../img/object/big_logo.png") no-repeat 950px 140px fixed;
    background-size:470px;
    z-index:1;
    
    opacity:0;
    animation-name: opacity_header;
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;
}

#content_n{
    position:relative;
    top:230px;
}
#page_title{
    font-size:55px;font-weight:400;
    position:absolute;
    top:45px;
    left:140px;

    opacity:0;
    animation-name: move_title;
    animation-duration:2s;
    animation-direction:alternate;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;
}
@keyframes move_title{
    0%{
        left:0;
        opacity:0;
    }
    100%{
        left:140px;
        opacity:1;
    }
}

#title_hidden{display:none;}
dt, dd, h2{letter-spacing:-0.3px;}
dt{
    font-size:10px;font-weight:400;color:#A8A8A8;

    opacity:0;
    animation-name: move_left;
    animation-duration:2s;
    animation-delay:0.2s;
    animation-direction:alternate;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;
}
@keyframes move_left{
    0%{
        margin-left:100px;
        opacity:0;
    }
    100%{
        margin-left:0;
        opacity:1;
    }
}
dd{
    width:250px;
    font-size:12px;font-weight:300;line-height:24px;color:#7F7F7F;
    margin-top:50px;

    opacity:0;
    animation-name: move_left;
    animation-duration:2s;
    animation-delay:0.4s;
    animation-duration: lenear;
    animation-direction:alternate;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;
}

#content hr{
    margin-top:90px;
    width:780px;border:none;border-bottom:1px solid #B7B7B7;
}

.nav_title{
    float:left;margin-left:24px;
    
    margin-top:300px;
    opacity:0;
    animation-name: move_up;
    animation-duration:2s;
    animation-delay:0.2s;
    animation-duration: lenear;
    animation-direction:alternate;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;
}

@keyframes move_up{
    0%{
        margin-top:300px;
        opacity:0;
    }
    100%{
        margin-top:0;
        opacity:1;
    }
}
.nav_title:first-child{margin-left:0;}
.nav_title img{
    height:100px;
    opacity:0.5;
    transition-property:opacity,height;
    transition-duration:1s;
}
.nav_title img:hover{
    height:120px;
    opacity:1;
}
.nav_title h2{
    text-align:right;margin-bottom:3px;
}
.nav_title h2 a{
    font-size:10px;font-weight:100;color:#A8A8A8;
}
.nav_title h2 a:hover{
    color:#0F78F4;font-weight:500;
}
article{position:relative;left:320px;margin-top:25px;}
article:after{
    content:"";
    display:table;
    clear:both;
}